<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :scheduled %><br>
    <%= f.date_select :scheduled %>
  </div>
 <%= f.hidden_field :company_id, :value => current_user.company_id %>
	<% if can? :manage, Account %>
	<div class="field">
    <%= f.label :user_id %><br>
	<%= f.collection_select :user_id, @users, :id, :full_name, include_blank: true %>
  </div>
	<% else %>
	  <%= f.hidden_field :user_id, :value => current_user.id %>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
