<% if user_signed_in? %>

  <h1>Listing  <%=@routes.count%> route<%if (@routes.count > 1) %>s<% end%> for 
	<% if (@user != nil) %>
 	 	<%= @user.full_name %>
  	 <% else %>
  	 	<%= @company.name %>
  	 <% end %></h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Schedualed</th>
        <th>User</th>
        <th>Company</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><%= route.name %></td>
          <td><%= route.scheduled %></td>
          <td><%= route.user.full_name %></td>
          <td><%= route.company.name %></td>
          <td><%= link_to 'Show', route %></td>
          <td><%= link_to 'Edit', edit_route_path(route) %></td>
          <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= button_tag 'Plot', onclick: 'buildRoute(' + route.get_locations + ')' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
 
  
  <%= button_to "New Route", new_route_path, :method => "get" %>

  <br>

  <div id="map-container" style='width: 800px;'>
    <h1>Map</h1>
    <div id="map-features"><button onclick="clearMap()">Clear Map</button> <button onclick="addSelfMarker()">Plot My Location</button></div>
    <div id="map-canvas" style='width: 947px; height: 500px;'></div>
  </div>

  <div id="direction-container"></div>

<% else %>
  You must be logged in to view this page.
<% end %>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsmPgcigaqDrXUOGT6eNvApO06f_MyIfg"></script>
<script type="text/javascript">
  var map = null;
  var markers = [];
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();

  // Initialize Google Maps 
  function initMap() {
    directionsDisplay = new google.maps.DirectionsRenderer();

    var mapOptions = {
      zoom: 4
    };

    var mapElement = document.getElementById('map-canvas');

    // Create the Google Map
    map = new google.maps.Map(mapElement, mapOptions);

    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('direction-container'));

    // Centers on Atlanta, GA for now
    var pos = new google.maps.LatLng(33.7550, -94.3900);
    map.setCenter(pos);
  }

  // Error handling of the geolocation.
  function handleNoGeolocation(errorFlag) {
    // was geolocation a bust?
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }
  }

  // Adds a marker to the map with the specified options.
  function addMarker(options) {
    /*
      options = {
        lat: float,
        lng: float,
        pos: google.maps.LatLng(lat, lng),
        icon: url,
        title: 'string'
      }
    */

    var pos = null;
    var marker = null;

    // do we have a google maps position or a lat/lng?
    if(options.lat !== undefined && options.lng !== undefined) {
      pos = new google.maps.LatLng(options.lat, options.lng);
    } else {
      pos = options.pos;
    }

    // what kind of icon should we use?
    // default is a green marker.
    if(options.icon === undefined) {
      marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        title: options.title
      });
    } else {
      marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: options.icon,
        title: options.title
      });
    }

    // push the marker to an array for later use.
    markers.push(marker);
  }

 // Adds a marker at your current location, if your computer allows it.
  function addSelfMarker() {
    // Can we get a location?
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var pos = new google.maps.LatLng(lat, lng);

        // we'll use a red marker to show our location.
        var options = {
          pos: pos,
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
          title: 'Your Location'
        }

        //create a new request that we'll make to save the lat/lng
        var x = new XMLHttpRequest();

        //we're going to post some JSON
        x.open('POST', 'users/location/', true);
        x.setRequestHeader('Content-Type', 'application/json');

        //be sure to get all of the CSRF tokens so we can use them in the header
        var metaTags = document.getElementsByTagName('meta');
        for ( var i = 0; i < metaTags.length; i++) { 
          if (metaTags[i].name === 'csrf-token') { 
            x.setRequestHeader('X-CSRF-Token', metaTags[i].content); 
          } 
        }

        //build a data object
        var data = { lat: lat, lng: lng };

        //stringify and send it along
        x.send( JSON.stringify(data) );

        // add the marker and center on it.
        addMarker(options);
      }, function() { handleNoGeolocation(true); });
    } else {
      handleNoGeolocation(false);
    }
  }

  // Sets the map for all markers to null and
  // removes them from the map and the array.
  function clearMarkers() {
    var size = markers.length;
    for(var i=0; i<size; i++) {
      markers[i].setMap(null);
    }

    markers = [];
  }

  // Clears the map of everything and empties the direction-container
  function clearMap() {
    $('#direction-container').html('');
    initMap();
  }

  // Toggles the map hidden or displayed.
  function toggleMap() {
    if($('#map-container').css('display') == "none") {
      $('#map-container').show();
      $('#map-button').html("Hide Map");
    } else {
      $('#map-container').hide();
      $('#map-button').html("Show Map");
    }
  }

  // Builds a route using route stops
  function buildRoute(array) {
    alert("Please wait a few moments while the route gets setup");
    var wayPoints = [];

    clearMarkers();

    //Do something with the array
    for (var i = array.length - 1; i >= 0; i--) {
      var options = { title: array[i].name, lat: array[i].lat, lng: array[i].lng };
      var pos = new google.maps.LatLng(array[i].lat, array[i].lng);
      wayPoints.push({ location: pos, stopover: true });
      addMarker(options);
    };

    // Do we have a location? If so, let's start there.
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        function(position) {
          var originPoint = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          var options = { originPoint: originPoint, wayPoints: wayPoints };
          calcRoute(options);
        },
        function() { handleNoGeolocation(true); }
      );
    } else {
      handleNoGeolocation(false);
    }

    clearMarkers();
  }

  // Calculates the route given the waypoints
  // using google's directions service
  function calcRoute(options) {
    /*
      options = {
        originPoint: google.maps.LatLng,
        wayPoints: [google.maps.LatLng]
      }
    */

    // Do we have any waypoints?
    if(options.wayPoints.length > 0) {
      var request = {
        origin: options.originPoint,
        destination: options.originPoint,
        waypoints: options.wayPoints,
        optimizeWaypoints: true,
        travelMode: google.maps.TravelMode.DRIVING
      };

      // Plot the route when we get the OK from google
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    } else {
      alert('Please add route stops to the route before plotting.');
    }
  }

  // Inittializes the map on page load
  $(function() {
    initMap();
  });
</script>