<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Scheduled:</strong>
  <%= @route.scheduled %>
</p>

<p>
  <strong>User:</strong>
  <%= @route.user.first_name %> <%= @route.user.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @route.company.name %>
</p>
<% if (@route_stops.count >0) %>
<table>
  <thead>
    <tr>
      <th>Route</th>
      <th>Stop</th>
      <th>Account</th>
      <th>Address</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_stops.each do |route_stop| %>
      <tr>
        <td><%= link_to route_stop.route.name, route_stop.route %></td>
        <td><%= route_stop.stop %></td>
        <td><%= link_to route_stop.account.name, route_stop.account %> </td>
        <td><%= route_stop.account.full_address %></td>
        <td><%= link_to 'Show', route_stop %></td>
        <td><%= link_to 'Edit', edit_route_stop_path(route_stop) %></td>
        <td><%= link_to 'Destroy', route_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Add Another Route Stop', new_route_stop_path(:route_id => @route.id) %><br>

<% else %>
This Route has no routes Add some, 
<%= button_to 'Add Route stop', new_route_stop_path(:route_id => @route.id) %><br>

<% end %>

<%= button_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
