<div class="field">
	<%= f.label :first_name %>
	<br>
	<%= f.text_field :first_name %>
</div>

<div class="control-group">
	<%= f.label :last_name %>
	<br>
	<%= f.text_field :last_name %>
</div>

<div class="control-group">
	<%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => 'control-label' %>
	<div class="input">
		<%= f.text_field :email, :class => 'text_field' %>
	</div>
</div>

<div class="control-group">
	<%= f.label :password, t("activerecord.attributes.user.password", :default => "password"), :class => 'control-label' %>
	<div class="input">
		<%= f.password_field :password, :class => 'password_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :Password, t("activerecord.attributes.user.password_confirmation", :default => "password_confirmation"), :class => 'control-label' %>
	<div class="input">
		<%= f.password_field :password_confirmation, :class => 'password_field' %>
	</div>
</div>
<div class="field">
	<%= f.hidden_field :company_id, :value => current_user.company_id %>
	<% if current_user.role? :admin %>
	<div class="field">
		<%= f.label :company_id %>
		<br>
		<%= f.collection_select :company_id, Company.all, :id, :name, include_blank: true %>
	</div>
	<% else %>
	<%= f.hidden_field :company_id, :value => current_user.company_id %>
	<% end %>
</div>
<% for role in Role.find(:all) %>
<div class ="control-group">
	<%= f.label role.name , :class => 'control-label' %>
	<div class="controls">
		<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
	</div>
</div>
<% end %>

<div class="form-actions">
	<button class="btn primary" type="submit">
		Save
	</button> or
	<%= link_to "Cancel", admin_users_path %>
</div>