<h1>Users</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
	<th> Name </th>
     <th>
      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
    <td><%= user.id %></td>
    <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= link_to user.email, admin_user_path(user) %>
    </td>
        <td><%= user.created_at %></td>
    <td>
      <%= link_to "Show", admin_user_path(user) %>
      <%= link_to "Edit", edit_admin_user_path(user) %>
      <%= link_to "Destroy", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>
 <%= paginate @users %>

<%= button_to "New User", new_admin_user_path, :class => 'btn btn-primary' %>