<%= stylesheet_link_tag "gmaps4rails" %>
<h1>Map</h1>
<div id="map-features"><button onclick="clearMap()">Clear Map</button> <button onclick="addSelfMarker()">Plot My Location</button></div>
<div style='width: 800px;'>
	<div id="map-container">
		<div id="map-canvas" style='width: 947px; height: 500px;'></div>
	</div>
</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsmPgcigaqDrXUOGT6eNvApO06f_MyIfg"></script>
    

<script type="text/javascript">
	var map = null;
	var markers = [];

	//Google Maps 
	function initMap() {
		// Basic options for a simple Google Map
		var mapOptions = {
			zoom: 6
		};

		var mapElement = document.getElementById('map-canvas');

		//Create the Google Map
		map = new google.maps.Map(mapElement, mapOptions);

		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

				var options = {
					pos: pos,
					icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
					title: 'Your Location'
				}

				addMarker(options);

				map.setCenter(pos);
			}, function() { handleNoGeolocation(true); });
		} else {
			handleNoGeolocation(false);
		}
	}

	function handleNoGeolocation(errorFlag) {
		if (errorFlag) {
			var content = 'Error: The Geolocation service failed.';
		} else {
			var content = 'Error: Your browser doesn\'t support geolocation.';
		}

		var pos = new google.maps.LatLng(33.7550, -84.3900);

		var options = {
			pos: pos,
			icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
			title: 'Atlanta, GA'
		}

		addMarker(options);
			
		map.setCenter(pos);
	}

	function addMarker(options) {
		/*
			options = {
				lat: float,
				lng: float,
				pos: google.maps.LatLng(lat, lng),
				icon: url,
				title: 'string'
			}
		*/
		var pos = null;
		var marker = null;

		if(options.lat !== undefined && options.lng !== undefined) {
			pos = new google.maps.LatLng(options.lat, options.lng);
		} else {
			pos = options.pos;
		}

		if(options.icon === undefined) {
			marker = new google.maps.Marker({
				animation: google.maps.Animation.DROP,
				position: pos,
				map: map,
				title: options.title
			});
		} else {
			marker = new google.maps.Marker({
				animation: google.maps.Animation.DROP,
				position: pos,
				map: map,
				icon: options.icon,
				title: options.title
			});
		}

		markers.push(marker);
	}
	 // Adds a marker at your current location, if your computer allows it.
	 
  function addSelfMarker() {
    // Can we get a location?
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
		
        var pos = new google.maps.LatLng(lat, lng);

        // we'll use a red marker to show our location.
        var options = {
          pos: pos,
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
          title: 'Your Location'
        }

        //create a new request that we'll make to save the lat/lng
        var x = new XMLHttpRequest();

        //we're going to post some JSON
        x.open('POST', 'users/location/', true);
        x.setRequestHeader('Content-Type', 'application/json');

        //be sure to get all of the CSRF tokens so we can use them in the header
        var metaTags = document.getElementsByTagName('meta');
        for ( var i = 0; i < metaTags.length; i++) { 
          if (metaTags[i].name === 'csrf-token') { 
            x.setRequestHeader('X-CSRF-Token', metaTags[i].content); 
          } 
        }

        //build a data object
        var data = { lat: lat, lng: lng };

        //stringify and send it along
        x.send( JSON.stringify(data) );

        // add the marker and center on it.
        addMarker(options);
      }, function() { handleNoGeolocation(true); });
    } else {
      handleNoGeolocation(false);
    }
  }

  // Sets the map for all markers to null and
  // removes them from the map and the array.
  function clearMarkers() {
    var size = markers.length;
    for(var i=0; i<size; i++) {
      markers[i].setMap(null);
    }

    markers = [];
  }

  // Clears the map of everything and empties the direction-container
  function clearMap() {
    $('#direction-container').html('');
    initMap();
  }

	google.maps.event.addDomListener(window, 'load', initMap);
</script>

