<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container content-section text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Fleet Trackinator</h1>
          <p class="intro-text">A free, responsive, web-based fleet tracker.<br>Created by CS6920.</p>
          <a href="#about" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Fleet Trackinator</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
      <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      <a href="#map" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
    </div>
  </div>
</section>

<!-- Map Section -->
<section id="map" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div id="map-container">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; CS6920 Summer 2015 Cohort</p>
  </div>
</footer>

<!-- Google Maps JS -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsmPgcigaqDrXUOGT6eNvApO06f_MyIfg"></script>
<script type="text/javascript">
  //Google Maps 
  function initMap() {
      // Basic options for a simple Google Map
      var mapOptions = {
          zoom: 10,
          center: new google.maps.LatLng(40.72424258, -74.04333809)
      };

      var mapElement = document.getElementById('map-canvas');

      //Create the Google Map
      var map = new google.maps.Map(mapElement, mapOptions);

      var lats = [40.80973679,40.61383927,40.77883064,40.80296878,40.62761295,40.78089982,40.84077509,40.57702138,40.69080479,40.76184355,40.60650761,40.78601951,40.62060635,40.60612881,40.69993885,40.77200281,40.62786460,40.66274330,40.78535561,40.64335106];
      var lngs = [-73.89615348,-73.90085846,-74.08757774,-74.13182001,-74.10543231,-73.97505267,-74.08250639,-74.0785688,-73.89997878,-74.03518645,-74.12436141,-74.14069634,-73.99228919,-74.09824749,-74.17497944,-74.12782792,-73.91200297,-74.10542275,-74.04788349,-73.97391565];

      //Add some markers
      for(var i=0; i<20; i++) {
        var lat = lats[i];
        var lng = lngs[i];
        var sales1 = new google.maps.Marker({
          position: new google.maps.LatLng(lat, lng),
          map: map,
          title: 'Salesperson' + (i+1)
        });
      }
  }

  google.maps.event.addDomListener(window, 'load', initMap);
</script>