<h1>About</h1>
<p class="about-head">The general Concept is, you have a Company.</p>
<ul class="about-list">
	<li>The Company has employees, "users".</li>

	<li>The users have sales accounts, they want to visit.</li> 

	<li>Our system will let the Company manager setup a route for them to schedule visits, and show them the best way to get from point A to Point B.</li>

	<li>The "Company Manager" or user can view routes.</li> 

	<li>The "Company Manager" can view history of where the user was.</li>
</ul>