<h1>Home</h1>
<br />

<p id="text"><strong>Do you have a have sales agents, technicians, etc... <br>
	Going from place to place all day? <br>
	Do you know where they are during the day? <br>
	Are they claiming they hit all their targets but you never really know?</strong> </p><br><br>
<br />
<p id="text">If so, we have an app that can help you. 
	Our app allows users to plan a route based on all of the places of interests, and reports their locations back up to the server . 
	At any given time you can know where your people are as well as update their routes on the fly. 
	Never wonder again if they are driving the best way or if they are taking a 2 hour lunch break.</p>
