<h1>Listing companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>State</th>
      <th>City</th>
      <th>Zip</th>
      <th>Number</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
   <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td><%= company.name %></td>
        <td><%= company.address %></td>
        <td><%= company.state %></td>
        <td><%= company.city %></td>
        <td><%= company.zip %></td>
        <td><%= company.number %></td>
        <td><%= company.latitude %></td>
        <td><%= company.longitude %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= paginate @companies %>
<br>

<%= button_to 'New Company', new_company_path %>
