<div class="field">
  <%= link_to image_tag("erase.png"), '#', class: "remove_fields" %>
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select%>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  
</div>