<a href="#" id="hide_search"><button>Hide Filter</button></a>
<h1>Filter Accounts by</h1>
<%= search_form_for @search, url: search_accounts_path, method: :post do |f| %>
 <input type='hidden' id='searched' name ='searched' value ='true'>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields image_tag("plus.png"), f, :condition %>(Add Condition)
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>