<% if user_signed_in? %>
<h1>Editing account</h1>

<%= render 'form' %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
<% else %>
You must be logged in to view this page.
<% end %>