<% if user_signed_in? %>
  <% @searched = params[:searched] %>

  <% if (@searched) %>
  	<style>
  		 #searchwindow{
  		 	display: block; 
  		 }
  		 #show_search{
  		 	display: none; 
  		 }

  		#popup {
  		    display: none;
  		    height: 50px;
  		    width: 200px;
  		    text-align: center;
  		    vertical-align:middle;
  		    background-color: cornflowerblue;
  		    color: white;
  		    padding-top: 8px;
  		    position: absolute;
  		}
  	 </style>
  <% end %>
  <div id="searchwindow" style="display: none;">
  	<%= render "searcher" =%>
  </div>

  <h1>Listing <%=@accounts.count%> account<%if (@accounts.count > 1) %>s<% end%> for 
	<% if (@user != nil) %>
 	 	<%= @user.full_name %>
  	 <% else %>
  	 	<%= @company.name %>
  	 <% end %> 
  	 </h1>
  <button id="show_search">Filter Results</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Address</th>
        <th>Notes</th>
        <% if can? :manage, Account %>
        <th>Sales Agent</th>
        <% end %>
        <% if can? :manage, :all %>
        <th>Company</th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
     <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
          <td><%= account.name %></td>
          <td><%= account.number %></td>
          <td><%= account.full_address %></td>
          <td><%= account.notes %></td>
        <% if can? :manage, Account %>
          <td>  <%= account.user.first_name %>   <%= account.user.last_name %></td>
        <% end %>
        <% if can? :manage, :all %>
          <td><%= account.company.name %></td>
        <% end %>
  		
          <td><%= button_to 'Show', account, :method => "get" %></td>
          <td><%= button_to 'Edit', edit_account_path(account), :method => "get" %></td>
          <td><%= button_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>
            <% if account.has_valid_location? %>
              <%= button_tag 'Plot', onclick: 'addMarker({' + account.get_click + '})' %>
            <% else %>
              Bad Location!
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @accounts %>


  <%= button_to "New Account", new_account_path, :method => "get" %>
<br>
<div id="map-container" style='width: 800px;'>
    <div id="map-canvas" style='width: 947px; height: 500px;'></div>
    <div id="map-features"><button onclick="clearMarkers()">Clear Map</button> <button onclick="addSelfMarker()">Plot My Location</button></div>
  </div>
<br><button id="map-button" onclick="toggleMap()">Hide Map</button><br>
  <br>
<% else %>
You must be logged in to view this page.
<% end %>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsmPgcigaqDrXUOGT6eNvApO06f_MyIfg"></script>
<script type="text/javascript">
  var map = null;
  var markers = [];

  // Initialize Google Maps 
  function initMap() {
    // Basic options for a simple Google Map
    var mapOptions = {
      zoom: 4
    };

    var mapElement = document.getElementById('map-canvas');

    // Create the Google Map
    map = new google.maps.Map(mapElement, mapOptions);

    // Centers on Atlanta, GA for now
    var pos = new google.maps.LatLng(33.7550, -94.3900);
    map.setCenter(pos);
  }

  // Error handling of the geolocation.
  function handleNoGeolocation(errorFlag) {
    // was geolocation a bust?
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }
  }

  // Adds a marker to the map with the specified options.
  function addMarker(options) {
    /*
      options = {
        lat: float,
        lng: float,
        pos: google.maps.LatLng(lat, lng),
        icon: url,
        title: 'string'
      }
    */

    var pos = null;
    var marker = null;

    // do we have a google maps position or a lat/lng?
    if(options.lat !== undefined && options.lng !== undefined) {
      pos = new google.maps.LatLng(options.lat, options.lng);
    } else {
      pos = options.pos;
    }

    // what kind of icon should we use?
    // default is a green marker.
    if(options.icon === undefined) {
      marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        title: options.title
      });
    } else {
      marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: options.icon,
        title: options.title
      });
    }

    // push the marker to an array for later use.
    markers.push(marker);
  }

  // Adds a marker at your current location, if your computer allows it.
  function addSelfMarker() {
    // Can we get a location?
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var pos = new google.maps.LatLng(lat, lng);

        // we'll use a red marker to show our location.
        var options = {
          pos: pos,
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
          title: 'Your Location'
        }

        //create a new request that we'll make to save the lat/lng
        var x = new XMLHttpRequest();

        //we're going to post some JSON
        x.open('POST', 'users/location/', true);
        x.setRequestHeader('Content-Type', 'application/json');

        //be sure to get all of the CSRF tokens so we can use them in the header
        var metaTags = document.getElementsByTagName('meta');
        for ( var i = 0; i < metaTags.length; i++) { 
          if (metaTags[i].name === 'csrf-token') { 
            x.setRequestHeader('X-CSRF-Token', metaTags[i].content); 
          } 
        }

        //build a data object
        var data = { lat: lat, lng: lng };

        //stringify and send it along
        x.send( JSON.stringify(data) );

        // add the marker and center on it.
        addMarker(options);
      }, function() { handleNoGeolocation(true); });
    } else {
      handleNoGeolocation(false);
    }
  }

  // Sets the map for all markers to null and
  // removes them from the map and the array.
  function clearMarkers() {
    var size = markers.length;
    for(var i=0; i<size; i++) {
      markers[i].setMap(null);
    }

    markers = [];
  }

  // Toggles the map hidden or displayed.
  function toggleMap() {
    if($('#map-container').css('display') == "none") {
      $('#map-container').show();
      $('#map-button').html("Hide Map");
    } else {
      $('#map-container').hide();
      $('#map-button').html("Show Map");
    }
  }

  // Add functionality to the hide and show
  // search buttons on the page.
  $(function() {
    $('#show_search').click(function(event){
      event.preventDefault();
      $('#searchwindow').toggle();
      $('#show_search').toggle();
    });

    $('#hide_search').click(function(event){
      event.preventDefault();
      $('#searchwindow').toggle();
      $('#show_search').toggle();
    });

    initMap();
  });
</script>