<% if user_signed_in? %>
<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @account.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @account.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @account.zip %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @account.suite %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @account.notes %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @account.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @account.longitude %>
</p>

<%= link_to 'Edit', edit_account_path(@account), 'data-no-turbolink' => true %> |
<%= link_to 'Back', accounts_path, 'data-no-turbolink' => true %>
<% else %>
You must be logged in to view this page.
<% end %>
