<h1>Users</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
	<th> Name </th>
     <th>
      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
    </th>
    <th>Sales <Br>Accounts</th>
    <th>Routes</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
  <% @accounts = Account.where('accounts.User_id' => user.id).count 
  	@routes =  Route.where('routes.User_id' => user.id).count %>
   <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
    <td><%= user.id %></td>
    <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= link_to user.email, manager_user_path(user) %>
    </td>
    <td align ='center'> <%= link_to @accounts, accounts_path(:user_id => user.id) %></td>
    <td align ='center'> <%= link_to @routes, routes_path(:user_id => user.id) %></td>
    <td><%= user.created_at %></td>
    <td>
      <%= link_to "Show", manager_user_path(user), 'data-no-turbolink' => true %>
      <%= link_to "Edit", edit_manager_user_path(user) %>
      <%= link_to "Destroy", manager_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>
 <%= paginate @users %>

<%= button_to "New User", new_manager_user_path, :class => 'btn btn-primary' %>