<h1>Account info for: <%= @user.first_name %> <%= @user.last_name %></h1>
<p><b>Email:</b><%= @user.email %></p>
<p><b>Amount of Accounts</b> = <%= @accounts %>  
<% if (@accounts >0 ) %>
	<%= link_to "View Accounts", accounts_path(:user_id => @user.id), :class => 'btn' %>
<% end %></p>
<p><b>Amount of Routes</b> = <%= @routes %>  
<% if (@routes >0 ) %>
	<%= link_to "View Routes", routes_path(:user_id => @user.id), :class => 'btn' %>
<% end %></p>


<table>
	<thead>
		<tr>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Timestamp</th>
		</tr>
	</thead>

	<tbody>
	<% @locations.each do |location| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
			<td><%= location.latitude %></td>
			<td><%= location.longitude %></td>
			<td><%= location.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%A %m-%d-%Y %H:%M:%S") %></td>
			<td>
            <% if location.has_valid_location? %>
              <%= button_tag 'Plot', onclick: 'addMarker({' + location.get_click + '})' %>
            <% else %>
              Bad Location!
            <% end %>
          </td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= paginate @locations %>
<div class="form-actions">
<%= link_to "Back", manager_path, :class => 'btn'  %>
<%= button_tag 'Plot Recent', onclick: 'buildRoute(' + @locations.to_json + ')' %>
</div>

<br>
<div id="map-container" style='width: 800px;'>
<div id="map-canvas" style='width: 947px; height: 500px;'></div>
<div id="map-features"><button onclick="clearMarkers();clearMap();">Clear Map</button></div>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsmPgcigaqDrXUOGT6eNvApO06f_MyIfg"></script>
<script type="text/javascript">
  var map = null;
  var markers = [];
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();

  // Initialize Google Maps 
  function initMap() {
    directionsDisplay = new google.maps.DirectionsRenderer();

    // Basic options for a simple Google Map
    var mapOptions = {
      zoom: 4
    };

    var mapElement = document.getElementById('map-canvas');

    // Create the Google Map
    map = new google.maps.Map(mapElement, mapOptions);
    directionsDisplay.setMap(map);

    // Centers on Atlanta, GA for now
    var pos = new google.maps.LatLng(33.7550, -94.3900);
    map.setCenter(pos);
  }

  // Error handling of the geolocation.
  function handleNoGeolocation(errorFlag) {
    // was geolocation a bust?
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }
  }

  // Adds a marker to the map with the specified options.
  function addMarker(options) {
    /*
      options = {
        lat: float,
        lng: float,
        pos: google.maps.LatLng(lat, lng),
        icon: url,
        title: 'string'
      }
    */

    var pos = null;
    var marker = null;

    // do we have a google maps position or a lat/lng?
    if(options.lat !== undefined && options.lng !== undefined) {
      pos = new google.maps.LatLng(options.lat, options.lng);
    } else {
      pos = options.pos;
    }

    // what kind of icon should we use?
    // default is a green marker.
    if(options.icon === undefined) {
      marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
        title: options.title
      });
    } else {
      marker = new google.maps.Marker({
        position: pos,
        map: map,
        icon: options.icon,
        title: options.title
      });
    }

    // push the marker to an array for later use.
    markers.push(marker);
  }

  // Sets the map for all markers to null and
  // removes them from the map and the array.
  function clearMarkers() {
    var size = markers.length;
    for(var i=0; i<size; i++) {
      markers[i].setMap(null);
    }

    markers = [];
  }

  // Builds a route using route stops
  function buildRoute(array) {

  if(array.length === 0) {
    alert("Sorry, there are no recent locations for this user.");
  } else if(array.length === 1) {
    alert("Only one recent location for this user.");
    addMarker({
      lat: array[0].latitude,
      lng: array[0].longitude,
      icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      title: '1'
    });
  } else {
    alert("Please wait a few moments while the route gets setup");
    var wayPoints = [];
    var destinationPoint = new google.maps.LatLng(array[0].latitude, array[0].longitude);
    var originPoint = new google.maps.LatLng(array[array.length-1].latitude, array[array.length-1].longitude);

    clearMarkers();

      //Do something with the array
      var arrayLength = array.length < 10 ? array.length : 10;
      for (var i = arrayLength - 2; i > 0; i--) {
        var options = { title: '' + i, lat: array[i].latitude, lng: array[i].longitude };
        var pos = new google.maps.LatLng(array[i].latitude, array[i].longitude);
        wayPoints.push({ location: pos, stopover: true });

        addMarker(options);
      };

      // Do we have a location? If so, let's start there.
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function(position) {

            var options = { 
              originPoint: originPoint, 
              destinationPoint: destinationPoint, 
              wayPoints: wayPoints 
            };

            calcRoute(options);
          },
          function() { handleNoGeolocation(true); }
        );
      } else {
        handleNoGeolocation(false);
      }

      clearMarkers();
  }
  }

  // Calculates the route given the waypoints
  // using google's directions service
  function calcRoute(options) {
    /*
      options = {
        originPoint: google.maps.LatLng,
        destinationPoint: google.maps.LatLng,
        wayPoints: [google.maps.LatLng]
      }
    */

    // Do we have any waypoints?
    var request = {
      origin: options.originPoint,
      destination: options.destinationPoint,
      waypoints: options.wayPoints,
      optimizeWaypoints: false,
      travelMode: google.maps.TravelMode.DRIVING
    };

    // Plot the route when we get the OK from google
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }

  // Clears the map of everything and empties the direction-container
  function clearMap() {
    initMap();
  }

  // Initializes the map
  $(function() {
    initMap();
  });
</script>