<%= form_for(@route_stop) do |f| %>
Route = <%= @route.name  %>
  <% if @route_stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route_stop.errors.count, "error") %> prohibited this route_stop from being saved:</h2>

      <ul>
      <% @route_stop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :route_id, :value => @route_id %>
	<%= f.hidden_field :stop, :value => @stop %>

  <% if @has_account %>
  <div class="field">
    <%= f.label :account_id %><br>
	<%=	f.collection_select :account_id, @accounts, :id, :name %>
	<div class="actions">
    <%= f.submit %>
  </div>

<% else %>
    <div>
	  You have No Available Accounts to add to this route
	</div>
<% end %>

<% end %>
