<h1>Listing route_stops</h1>

<table>
  <thead>
    <tr>
      <th>Route</th>
      <th>Stop</th>
      <th>Account</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_stops.each do |route_stop| %>
      <tr>
        <td><%= route_stop.route.name %></td>
        <td><%= route_stop.stop %></td>
        <td><%= route_stop.account.name %></td>
        <td><%= link_to 'Show', route_stop %></td>
        <td><%= link_to 'Edit', edit_route_stop_path(route_stop) %></td>
        <td><%= link_to 'Destroy', route_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route stop', new_route_stop_path %>
