<p>
  <strong>Route:</strong>
  <%= @route_stop.route.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @route_stop.account.name %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @route_stop.stop %>
</p>


<%= link_to 'Edit', edit_route_stop_path(@route_stop) %> |
<%= link_to 'Back', route_stops_path %>
