/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#right  {
    float: right;
} 

 .list_line_even {
    background:   #e0f8f8;
   color: black;
  }
  .list_line_odd {
    background:   #A9A9A9;
    color: black;
  }
 
#banner {
	background-image: url(wg_black_mesh_patterns.jpg);
	padding: 20px;
	margin: 0px;
	font: 90px "Times New Roman", serif;
	color: rgb(247,191, 52);
	text-align: center;
	text-shadow: 5px 5px 5px #888888;
}

#man {
	background-image: url(man-in-suit-with-briefcase.jpg);
	background-repeat: no-repeat;
	width: 637px;
	height: 306px;
	float: right;
}

#formback {
		background: rgb(247,191, 52);
		padding: 10px;
}

#yellow {
		color: #F7BF34;
}

body {
	background-image: url(wg_black_mesh_patterns.jpg);
	margin: auto;
}

#forgot {
	font: 15px "Times New Roman", serif;
	color: white;
	float: left;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}/* no margin and no padding for all elements */

a {
	text-decoration: none;
}/* reset text-decoration on links */

:focus {
	outline: none;
}/* reset focus */

.clear {
	clear: both;
		background: rgb(247,191, 52);
		padding: 10px;
}

.hidden {
	display: none;
}

.wrapper {
	width: 973px;
	height: 500px;
	margin: auto;

}/* margin auto and width to center structure */

#navigation_bar {
	margin: 0px 0 20px 0;
	padding: 4px;
	background: #f7f7f7;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 967px;
	position: relative;
}/* the login panel menu will be placed through an absolute positioning, be sure to add a relative positioning to the list item */

ul#gen_navigation {
	float: left;
	width: 940px;
	height: 45px;
	background: url(images/bck_pattern.jpg) repeat-x;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #472620;
	list-style: none;
	padding: 22px 0 0 25px;
}

ul#gen_navigation li {
	position: relative;
	display: inline;
	text-transform: uppercase;
	padding-right: 15px;
}/* the dropdown menu will be placed through an absolute positioning, be sure to add a relative positioning to the list item */
ul#gen_navigation li a {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0px #472620;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
ul#gen_navigation li a:hover {
	background-color: #3d150e;
}
ul#gen_navigation li.dropdown_hover a {
	position: relative;
	z-index: 100;
	padding-bottom: 7px;
	background: url(images/line.gif) no-repeat bottom left;
}
ul#gen_navigation li a span {
	display: inline-block;
	width: 9px;
	height: 7px;
	margin-left: 15px;
	background: url(images/arrow_up.png) no-repeat;
}/* to add the arrow */

.sub_panel {
	position: absolute;
	top: -15px;
	left: -18px;
	padding: 5px;
	background-color: rgba(255,255,255,0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	float: left;
}
.sub_panel ul {
	background: #3d150e;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 43px 40px 25px 15px;
}
ul#gen_navigation li .sub_panel ul li {
	padding: 3px 0;
	display: block;
	font-size: 10px;
}
ul#gen_navigation li .sub_panel ul li a {
	background: none;
	text-shadow: 1px 1px 0px #1e0905;
}

#sign_right {
	float: right;
	position: relative;
	margin: auto;
}

ul#sign_navigation {
	float: right;
	position: relative;
	top: -10px;
	right: -15px;
	text-indent: -9999px;
	width: 190px;
	height: 32px;
}
ul#sign_navigation li a {
	padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
ul#sign_navigation li a.login_button {
	background: url(images/login_but.png) no-repeat 0px 0px;
	width: 76px;
	height: 32px;
	display: block;
	float: left;
}
ul#sign_navigation li a.login_button:hover, ul#sign_navigation li a.sign_in_button:hover {
	background-position: 0px -32px;
}
ul#sign_navigation li  a.login_button:active, ul#sign_navigation li  a.sign_in_button:active {
	background-position: 0px -64px;
}
ul#sign_navigation li a.sign_in_button {
	background: url(images/sign_up_but.png) no-repeat 0px 0px;
	width: 74px;
	height: 32px;
	display: block;
	float: left;
}

.login_panel {
	position: absolute;
	top: 55px;
	right: 10px;
	background-color: rgba(255,255,255,0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	float: right;
}
.login_panel form {
	background: #3d150e;
	color: #fff;
	padding: 10px 15px 20px 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 180px;
}
.login_panel form h3 {
	background: url(images/line.gif) repeat-x bottom left;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.close_login {
	position: absolute;
	right: -5px;
	top: -5px;
	background: url(images/x.png) no-repeat;
	width: 30px;
	height: 29px;
	display: block;
	cursor: pointer;
}
.login_panel form label {
	font-size: 10px;
	float: left;
	padding-top: 5px;
	clear: both;
}
.login_panel form input[type="text"], .login_panel form input[type="password"] {
	height: 10px;
	width: 110px;
	float: right;
	margin: 0 0 15px 10px;
	padding: 5px;
	font-size: 10px;
	-moz-box-shadow: inset 1px 1px 1px #ccc;
	-khtml-box-shadow: inset 1px 1px 1px #ccc;
	-webkit-box-shadow: inset 1px 1px 1px #ccc;
	box-shadow: inset 1px 1px 1px #ccc;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.login_panel p {
	clear: both;
}
.login_panel form input[type="submit"] {
	width: 67px;
	height: 21px;
	background: url(images/login_sub.png) no-repeat;
	float: left;
	margin-right: 12px;
	cursor: pointer;
}
.login_panel form p label {
	clear: none;
	padding: 1px 0 0 5px;
	margin-top: 3px;
}
.login_panel form input[type="checkbox"] {
	float: left;
	margin-top: 3px;
}

button, input[type="button"], input[type="submit"] {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px;
  text-decoration: none;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
