// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#text {
  font-size: 20px;
  text-align: center;
  line-height: 25px; 
}
